/* .styles.background{
  background: white !important;
} */
.chart {
height : 275px;
width : 97%;
margin-top: 40px;
 }
#end {
  color: white !important;

}

.chartPie {
  margin-top: -21%;
}
#line_segment{
  height: 400px;
}
.linechart {
  width : 70%;
  heigth : 30%;
}
